@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body{
    background-image: url('./Img/BCk.jpg');
    background-size: cover;
    font-family: Ubuntu;
}
h1{
    color: white;
}
p{
    color: #111;
    font-size: 30px;
}
.edge1{
    width:500px;
    height:300px;
    background-color: aquamarine;
    color: aqua;
    top: 50px;
    left: 50px;
    position: relative;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-weight:900;
}
li {
    float: left;
    border-right: 1px solid #bbb;
}
li:last-child{
    border-right: none;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
}
.active{
    background-color:darkcyan;
}